<!DOCTYPE html>
<html>
<head>
	<title>Book Info</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'app1/style.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
	<script>
		$(document).ready(function(){	
			$('.imag').hover(function(){
				var temp = $(this).attr('src'); 
  				$(this).attr('src', $(this).attr('data-alt-src')); 
  				$(this).attr('data-alt-src', temp);
			}); 
		})
	</script>
</head>
<body>
	<h3 class="welcome">Welcome {{user.first}}</h2>
	<a href="/books" class="home">Home</a>
	<a href="/clear">Log Out</a><br>
	<div id="leftI">
		<h1 id="bookt">{{book.title}}</h1>
		<p>Written by: <span>{{book.author}}</span></p>
		<p> Added by: {{book.user.first}}</p>
		<p> Added on: {{book.created_at}}</p>
		<p> Last updated on {{book.updated_at}}</p>
		<p>Description </p><p id="description">{{book.desc}}</p>
		{% if user == book.user %}
		<br><form action="/edit/{{book.id}}">
			{% csrf_token %}
			<input type="submit" id="infoupdate" value="Update">
		</form>
		<form action="/delete/{{book.id}}" method="POST">
			{% csrf_token %}
			<input type="submit" value="Delete">
		</form>
		{% endif %}
	</div>
	<div id="encompass">
		<div id="rightI">
			<h2>Others Who Enjoy This Book:</h2>
			<ul>
				{% for favorite in favorites %}
				<li><a class="white" href="/users/{{favorite.user.id}}">{{favorite.user.first}} {{favorite.user.last}}</a></li>
				{% if favorite.user == user %}
				<form action="/unfavor/{{book.id}}" method="POST">
					{% csrf_token %}
					<input type="submit" value="Unfavorite" id="ilink">
				</form>
				{% endif %}
				{% endfor %}
				</ul>
				
				{% if not favor %}
				<form action="/favor/{{book.id}}" method="POST">
					{% csrf_token %}
					<input type="submit" value="Add to Favorites" id="ilink">
				</form>
				{% endif %}

				

			
		</div>	
		<img  src="{% static 'app1/images.jfif' %}" data-alt-src="{% static 'app1/bimage.jfif' %}" class="imag">
	</div>
</body>
</html>